page-startpage {
    .btnstr{
        background-color: #af04ff;
        color: white;
        padding: 14px 40px;
    
    }
    .btnfollow{
        background-color: #f1b306;
        color: white;
    }
    
    .bar-button-default-md {
        color: #fff;
    }
    .d-flex-btn button {
        width: calc(50% - 2rem);
    }
    
    .d-flex-btn button img {
        margin-right: 10px;
    }
    
}