page-detailsage {
    .bar-button-default-md{
        color: #fff;
    }
    .btnfollow{
        background-color: #f1b306;
        color: white;
    }
    
    .d-flex-btn button {
        width: calc(50% - 2rem);
    }
    
    .d-flex-btn button img {
        margin-right: 10px;
    }
    .main_box {
        display: flex;
        flex-wrap: wrap;
    }
    
    .box_col {
        width: 33.33%;
        text-align: center;
        padding: 10px;
        border: 1px solid #222;
    }
    
    .box_col img {
        max-width: 70px;
    }
    
    .box_col span {
        font-size: 11px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.4rem;
    }
    
    .box_col h4 {
        font-size: 1.4rem;
        color: #f7b000;
        text-transform: uppercase;
        margin-top: 0;
    }
    small {
        display: block;
        text-align: right;
        width: 100%;
        padding-top: 1rem;
        padding-right: 1rem;
        font-style: italic;
    }
    .toolbar-title-md{
        font-size: 1.5rem;
    }
    .mdiv{
        text-align: center;
    padding: 5px;
    }
    .title{
        font-size: 18px;
        font-weight: bold;
    }
    #tablelist{
        background-image: url('../../assets/imgs/bg.png');
        background-color: #000;
        background-size: cover;
        background-position: center;
        color: #fff;
    }
}
